.back {
    background-image: url("https://media.discordapp.net/attachments/971165654352793643/1176955102586740816/back_1.png?ex=6570bfdb&is=655e4adb&hm=5f7c6c3b91080b52312aa800253d2cdf0b31c64604b09d9b223576e4165c3a92&=&format=webp&width=890&height=593");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 30%;
    padding-right: 5rem;
    color: #fff;
    text-align: center;
}

.back h1 {
    font-size: 10rem;
    font-weight: 400;
}

.back h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.margin{
    margin-top: 40%;
}