#heading {
    text-align: center;
    padding: 4rem 0;
}

#heading h3 {
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #1eb2a6;
}

#heading h1 {
    font-size: 4.5rem;
    margin: 2rem 0;
}