.aboutHome {
    height: auto;
}

.aboutHome #heading {
    text-align: left;
    padding: 0;
}

.aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutHome .right {
    padding: 8rem 5rem;
}

.aboutHome .items {
    margin-top: 5rem;
}

.aboutHome .item {
    background-color: #fff;
    margin-top: 3rem;
    padding: 2rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.aboutHome .img {
    width: 20rem;
}

.aboutHome img {
    width: 7rem;
    height: 7rem;
}

.aboutHome .item h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    box-shadow: 0 0.5rem 2.5rem -0.2rem rgb(0 0 0 /6%);
}

.awrapper {
    /* background-color: bisque; */
    /* background-image: url("images/awrapper_1.png"); */
    /* background-image: url("images/awrapper_test.svg"); */
    background-image: url("https://media.discordapp.net/attachments/971165654352793643/1176954718522712225/awrapper_11.png?ex=6570bf7f&is=655e4a7f&hm=897a4c0b4b905e1f0661d806e05a566aff216754ce9bbc36ed47013ba50dc3d2&=&format=webp&width=890&height=593");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
}

.awrapper .box {
    padding: 7rem 0;
}

.awrapper img {
    margin-right: 3rem;
}

.awrapper h1 {
    font-size: 5rem;
}

.awrapper h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {

    .aboutHome {
        margin-top: 80%;
    }

    .aboutHome .container {
        flex-direction: column-reverse;
    }

    .aboutHome .row {
        width: 100%;
    }

    .awrapper {
        height: 50vh;
    }
}